html, body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(245, 245, 129);
    /* display: flex; */
    flex-direction: column;
    /* min-height: 50%; */
  }

  header{
    color: green;
    background-color:white;
    width: 100%;
    font-size: 50px;
    position: sticky;
    padding: 0 0 0 25%;
 
  }

  h3 {
    background-color:green;
    color: white;
    width: 50%;
    border-radius: 10%;

  }

  .statsbox {
    width: 20%;
    background-color: white;
    border-radius: 10%;
  }
  .compost {
    width:  15vh;
    height: 15vh;
    margin-right: 5%;
    margin-left: 25%;
    display: inline-block;
    background-color: rgb(65, 102, 9);
  }
  .grocery {
    width:  15vh;
    height: 15vh;
    margin-right: 5%;
    display: inline-block;
    background-color: rgb(224, 109, 109);
  }
  .askcity {
    width:  15vh;
    height: 15vh;
    margin-right: 5%;
    display: inline-block;
    background-color: rgb(40, 220, 233);
  }
  .local {
    width:  15vh;
    height: 15vh;
    margin-right: 5%;
    display: inline-block;
    background-color: rgb(19, 241, 19);
  }


  footer {

    margin: 0% ;
  
    width: auto;
    height: 50px;
    /* height: 50%; */
    background-color: green;
    color: white;
    padding: 20px;
    bottom: 0;
    /* margin-top: 10%; */
    /* look up the dimensional effect that will place each collector at the bottom of the page */
  }


  .recyclecontainers {
    ;


  }


  .round1 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    /* margin: 4px 200px; */
    cursor: pointer;
    border-radius: 50%;
    height: 110px;
    /* position: relative; */
  }
  .round2 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 32px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 40px 40%;
    cursor: pointer;
    border-radius: 50%;
    height: 190px;
    /* position: relative; */
  }

  .round3 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 32px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 40px 50%;
    cursor: pointer;
    border-radius: 50%;
    height: 150px;
    /* position: relative; */

  }
